modules = ["nodejs-20:v8-20230920-bd784b9"]
hidden = [".config", "package-lock.json"]
run = "npm run start"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 33387
externalPort = 3000

[[ports]]
localPort = 35107
externalPort = 8000

[[ports]]
localPort = 36317
externalPort = 6800

[[ports]]
localPort = 36685
externalPort = 5173

[[ports]]
localPort = 36709
externalPort = 3003

[[ports]]
localPort = 37803
externalPort = 3002

[[ports]]
localPort = 38453
externalPort = 8080

[[ports]]
localPort = 38733
externalPort = 5000

[[ports]]
localPort = 39881
externalPort = 3001

[[ports]]
localPort = 40533
externalPort = 6000

[[ports]]
localPort = 43061
externalPort = 4200

[[ports]]
localPort = 43373
externalPort = 8008

[[ports]]
localPort = 46145
externalPort = 8081
